<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.store.clothstar.category.repository.CategoryMybatisRepository">
    <select id="selectAllCategory" resultType="org.store.clothstar.category.domain.Category">
        SELECT *
        FROM category
    </select>
    <select id="selectCategoryById" resultType="org.store.clothstar.category.domain.Category">
        SELECT *
        FROM category
        WHERE category_id = #{categoryId}
    </select>
    <insert id="save"
            parameterType="org.store.clothstar.category.domain.Category"
            useGeneratedKeys="true" keyProperty="categoryId" keyColumn="category_id">
        INSERT INTO category(category_id, category_type)
        VALUES (#{categoryId}, #{categoryType})
    </insert>
    <update id="updateCategory"
            parameterType="org.store.clothstar.category.domain.Category"
            useGeneratedKeys="true" keyProperty="categoryId" keyColumn="category_id">
        update category set
        category_type = #{categoryType}
        where category_id = #{categoryId}
    </update>
</mapper>